/* You can add global styles to this file, and also import other style files */
@import "./app/shared/sharedstyles.scss";
body {
  margin: 0;
  box-sizing: border-box;
  height: 100vh;
  width: 100vw;
  background-color: $dark-blue;
}
